body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: #fff;
    background: #222;
}
.container {
    background: #777;
    height: 100vh;
    position: relative;
    padding: 0 20px;
}
.container h1 {
    margin: 0px;
    padding-top: 35px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}
form {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.message {
    width: 100%;
    resize: none;
    outline: none;
    font-size: 15px;
    background-color: #E9EFF6;
    border: black 1px solid;
    box-sizing: border-box;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.btn_name {
    height: 50px;
    width: 33.33%;
    cursor: pointer;
    margin: 20px 0px;
    font-size: 20px;
}

